{% extends "otree/Page.html" %}
{% load otree %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
<h5>
  In this HIT we ask you to rate pictures of persons according to six different criteria.
</h5>

<h5>
  Your work will contribute to an academic study conducted by researchers
  from New York University in the U.S. and Bocconi University in Italy.
</h5>

<h5>
  There are a total of XXX pictures to be rated.
</h5>

<h5>
  The work on this HIT should take you no longer than 5min, and you will be paid a fixed amount of <b>$0.80</b> for your work.</p>
</h5>

<h5>
  If you have any questions or concerns, please send an email to interact@unibocconi.it.
</h5>

{% endblock %}
